* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #248a9f;
  font-family: roboto; }

/*seccion quienes*/
.parraf__3, .parraf__2 {
  width: 70rem;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-left: 8rem;
  margin-top: 5rem;
  line-height: 2rem;
  color: white;
  font-size: 18px; }

/*seccion adoptar*/
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 200px;
  border-radius: 0px 0px 40px 40px; }
  .main .main__title {
    text-align: center;
    width: 100%;
    margin-top: 0rem;
    color: white;
    font-size: 40px;
    font-weight: bold; }

.parraf__2 {
  margin-top: -2rem; }

/*footer*/
.footer__uno {
  color: #fff;
  margin-top: 5rem;
  padding: 10px;
  text-align: center; }
  .footer__uno .img__social {
    width: 50px;
    margin-right: 10px; }
  .footer__uno .social__uno {
    padding: 15px; }

.titulo__uno {
  text-align: center;
  font-size: 30px;
  color: white;
  padding: 25px;
  margin-top: 3rem; }

/*busqueda*/
.container__bus {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #b9c8df;
  padding: 2rem;
  margin-top: 3rem; }
  .container__bus .form__group {
    background-color: #b9c8df;
    top: -20px;
    padding: 10px 5px 10px; }
    .container__bus .form__group .control__label {
      margin-left: 110px;
      color: white;
      margin-bottom: -40px;
      background-color: #b9c8df; }
      .container__bus .form__group .control__label label {
        background-color: #b9c8df;
        text-align: center;
        font-size: 20px;
        color: black; }
    .container__bus .form__group .option__group {
      background-color: #b9c8df;
      margin-top: 15px;
      padding: 20px; }
      .container__bus .form__group .option__group select {
        width: 253px;
        padding: 10px 30px 10px 40px;
        outline: none;
        font-size: 18px;
        border-radius: 15px;
        border: 1px;
        background-color: white;
        color: #030303;
        margin-top: 10px; }
  .container__bus .box__but .boton__sel {
    margin-left: 0px;
    background-color: #f0304a;
    width: 200px;
    height: 37px;
    margin-top: 55px;
    outline: none;
    font-size: medium;
    border-radius: 15px; }
  .container__bus .box__but .boton__sel:hover {
    background-color: #db0000;
    color: white; }
  .container__bus .butom__radio {
    line-height: 1.6;
    font-size: 20px;
    width: 100%;
    color: #161616; }
    .container__bus .butom__radio .to__comuna {
      margin-top: 20px;
      text-align: center;
      background-color: #b9c8df; }

/*adoptame*/
/*titulos*/
.tit__titulos {
  padding: 2rem;
  margin-top: 2rem; }
  .tit__titulos .h1__adopt {
    text-align: center;
    font-size: 30px;
    padding: 5px;
    color: white; }
  .tit__titulos .h4__encuentra {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: white; }

/*tarjetas*/
.cartasAdopcion {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 4rem; }
  .cartasAdopcion .card {
    color: slategrey;
    border-radius: 5%; }
    .cartasAdopcion .card .card-img-top {
      margin-top: 6px;
      margin-left: 8px;
      border-radius: 5%;
      width: 95%;
      max-width: 280px; }
    .cartasAdopcion .card .card-body .card-title {
      color: grey;
      text-align: left;
      margin-top: 5px; }
    .cartasAdopcion .card .card-body .cards-text {
      text-align: left; }
    .cartasAdopcion .card .card-body .btn {
      border-radius: 1rem;
      width: 10rem; }

/*quines somos*/
.quien__uno {
  background-color: #b9c8df;
  padding: 3rem;
  display: flex;
  justify-content: space-evenly; }
  .quien__uno .imaperro__uno {
    border-radius: 5%;
    background-color: #b9c8df;
    width: 30rem; }

.parraf__uno {
  background-color: #b9c8df;
  color: black;
  width: 30rem;
  line-height: 2rem; }

/*titulo videos*/
.tit_titulo .titulo__ayuda {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  padding: 15px; }

.tit_titulo .ayuda__tit {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px; }

/*videos*/
.container__report__uno {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3rem; }
  .container__report__uno .video {
    width: 40rem; }

/*mapa*/
.titulos__mapa {
  text-align: center;
  margin-top: 1.5rem;
  color: white; }

@media only screen and (max-width: 1080px) {
  .cartasAdopcion {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem; }
    .cartasAdopcion .card {
      margin-bottom: 2rem; }
  .quien__uno {
    flex-direction: column; }
    .quien__uno .imaperro__uno {
      width: 100%; }
    .quien__uno .parraf__uno {
      margin-top: 2rem;
      width: 100%;
      font-size: 25px;
      text-align: justify; }
  .container__report__uno {
    flex-direction: column;
    align-items: center; }
    .container__report__uno .video__uno {
      width: 40rem;
      margin-bottom: 1rem; }
  .perrin__2 .parraf__3, .perrin__2 .parraf__2 {
    width: 60rem;
    align-content: left;
    margin-left: 83px; } }

@media only screen and (max-width: 700px) {
  .cartasAdopcion {
    flex-direction: column;
    margin-bottom: 2rem; }
    .cartasAdopcion .card {
      width: 21rem;
      height: 27rem;
      margin-bottom: 2rem; }
      .cartasAdopcion .card .cardImg {
        width: 18rem; }
  .quien__uno {
    flex-direction: column;
    width: -15%; }
    .quien__uno .imaperro__uno {
      width: 100%; }
    .quien__uno .parraf__uno {
      margin-top: 2rem;
      width: 100%;
      font-size: 15px;
      text-align: justify; }
  .container__report__uno {
    flex-direction: column;
    align-items: center; }
    .container__report__uno .video__uno {
      width: 20rem;
      margin-bottom: 1rem; }
  .perrin__2 .parraf__3, .perrin__2 .parraf__2 {
    width: 18rem;
    align-content: center;
    margin-left: 70px; } }

@media only screen and (max-width: 400px) {
  .perrin__2 .parraf__3, .perrin__2 .parraf__2 {
    width: 18rem;
    align-content: center;
    margin-left: 50px; } }

.perrin__2 .parraf3 {
  width: 70rem;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-left: 8rem;
  margin-top: 5rem;
  line-height: 2rem;
  color: white;
  font-size: 18px; }

.galeria__grid {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  padding: 1rem;
  background-color: #248a9f; }
  .galeria__grid .foto__galeria {
    width: 90%;
    height: auto;
    display: grid; }
    .galeria__grid .foto__galeria .foto {
      min-height: 10rem;
      background-color: #248a9f;
      border: 1px solid black;
      margin: 0.5rem 0.5rem 0.5rem 0.5rem; }
    .galeria__grid .foto__galeria .imagen__1 {
      grid-column: 4;
      grid-column-start: 1;
      grid-column-end: 5;
      background-image: url(../img/126974769_m.jpg);
      background-size: cover;
      background-position: center; }
    .galeria__grid .foto__galeria .imagen__2 {
      grid-column: 1;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      background-image: url(../img/perro1.jpg);
      background-size: cover;
      background-position: center; }
    .galeria__grid .foto__galeria .imagen__3 {
      grid-column: 4;
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 2;
      grid-row-end: 4;
      background-image: url(../img/grid.jpg);
      background-size: cover;
      background-position: center; }
    .galeria__grid .foto__galeria .imagen__4 {
      grid-column: 1;
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row: 1;
      grid-row-start: 3;
      grid-row-end: 4;
      background-image: url(../img/adoptado.jpg);
      background-size: cover;
      background-position: center; }
    .galeria__grid .foto__galeria .imagen__5 {
      grid-column: 2;
      grid-row: 1;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      background-image: url(../img/adoptado3.jpg);
      background-size: cover;
      background-position: center; }
    .galeria__grid .foto__galeria .imagen__6 {
      grid-column: 2;
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
      background-image: url(../img/108956901_m.jpg);
      background-size: cover;
      background-position: center; }
