* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: roboto;
  background-color: #248a9f;
}

.footer {
  color: #fff;
  margin-top: 5rem;
  padding: 10px;
  text-align: center;
}

.footer img {
  width: 50px;
  margin-right: 10px;
}

.social {
  padding: 15px;
}

/*menu*/
.navbar-nav {
  margin-left: 40rem;
}

/*pagina adoptar*/

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  border-radius: 0px 0px 40px 40px;
}

.main__title {
  text-align: center;
  width: 100%;
  margin-top: -5rem;
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-weight: bold;
}

.parraf2 {
    width: 70rem;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 8rem;
    margin-top: -5rem;
    line-height: 2rem;
    color: white;
    font-size: 18px;
  }


.carousel1 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
}

.carousel__container1 {
  transition: 450ms -webkit-transform;
  transition: 450ms transform;
  transition: 450ms transform, 450ms -webkit-transform;
  font-size: 0;
  margin: 0px 0px;
  padding-bottom: 3rem;
}

.carousel__container1:hover .carousel-item1 {
  opacity: 0.3;
}

.carousel__container1:hover .carousel-item1:hover {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item1 {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  width: 200px;
  height: 250px;
  margin-right: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 450ms all;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.carousel-item1:hover ~ .carousel-item1 {
  -webkit-transform: translate3d(100px, 0, 0);
  transform: translate3d(100px, 0, 0);
}

.carousel-item__img1 {
  width: 200px;
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover;
}

.carousel-item__details1 {
  align-items: flex-start;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  bottom: 0;
  display: flex;
  font-size: 10px;
  flex-direction: column;
  justify-content: flex-end;
  left: 0;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.carousel-item__details1--img {
  width: 20px;
}

.carousel-item1:hover .carousel-item__details1 {
  opacity: 1;
}

.carousel-item__details--title1 {
  font-family: roboto;
  font-weight: bold;
  font-size: large;
  color: rgb(0, 0, 0);
  background-color: white;
}

.carousel-item__details--subtitle1 {
  text-align: left;
  font-family: roboto;
  font-weight: bold;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin: 3px 3px 3px;
  margin-left: -15;
}

/*pagina quienes somos*/

.parraf3 {
  width: 70rem;
  display: flex;
  justify-content: center;
  text-align: left;
  margin-left: 8rem;
  margin-top: 5rem;
  line-height: 2rem;
  color: white;
  font-size: 18px;
}

.galeriaGrid {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 4rem;
  padding: 1rem;
  background-color: #248a9f;
}

.fotoGaleria {
  width: 90%;
  height: auto;
  display: grid;
}

.foto {
  min-height: 10rem;
  background-color: #248a9f;
  border: 1px solid black;
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.imagen1 {
  grid-column: 4;
  grid-column-start: 1;
  grid-column-end: 5;
  background-image: url(/img/perro1.jpg);
  background-size: cover;
  background-position: center;
}

.imagen2 {
  grid-column: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: url(/img/refugio.jpg);
  background-size: cover;
  background-position: center;
}

.imagen3 {
  grid-column: 4;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  background-image: url(/img/grid.jpg);
  background-size: cover;
  background-position: center;
}

.imagen4 {
  grid-column: 1;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1;
  grid-row-start: 3;
  grid-row-end: 4;
  background-image: url(/img/adoptado.jpg);
  background-size: cover;
  background-position: center;
}

.imagen5 {
  grid-column: 2;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  background-image: url(/img/adoptado3.jpg);
  background-size: cover;
  background-position: center;
}

.imagen6 {
  grid-column: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  background-image: url(/img/108956901_m.jpg);
  background-size: cover;
  background-position: center;
}

/*index registrate*/

.regist {
  width: 50px;
  margin-right: 10px;
}

.register {
  margin-top: 8rem;
  background: #248a9f;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 500px;
}

.register__container {
  border: 2px solid white;
  border-radius: 20px;
  width: 350px;
  min-height: 500px;
  padding: 40px 50px;
  color: white;
  margin-top: -50px;
}

.register__container_div {
  margin-bottom: 50px;
}

.register__container_div h2 {
  font-size: 1.5rem;
  margin-left: 3rem;
}

.register__container--form {
  display: flex;
  flex-direction: column;
}

.register__container--form .input {
  background-color: transparent;
  border-left: 0px;
  border-right: 0;
  border-top: 0;
  border-bottom: 2px solid rgb(255, 255, 255);
  font-size: 1rem;
  margin-bottom: 0px;
  height: 50px;
  padding: 0 20px;
  outline: none;
  color: white;
}
.pais {
  margin-top: 2rem;
}

::placeholder {
  color: rgb(255, 255, 255);
}

.button {
  background-color: #f0304a;
  border: none;
  border-radius: 25px;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  height: 30px;
  margin: 10px 0;
  margin-left: 1rem;
  width: 220px;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.button:hover {
  background-color: #be0606;
  color: #ffffff;
  box-shadow: none;
}

.register__inicio {
  margin-top: 30px;
  margin-left: 1rem;
}

.register__inicio_a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin-top: 20px;
  padding-top: 25px;
  margin-left: 50px;
}

/*responsive mediano*/
/*dispositivo mediano*/

@media only screen and (max-width: 1080px) {
  .cartasAdopcion {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .card {
    margin-bottom: 2rem;
  }

  .quien {
    width: 100%;
  }

  .perrin {
    flex-direction: column;
    align-items: center;
  }

  .imaperro {
    margin-bottom: 2rem;
  }

  .parraf {
    width: 28rem;
    text-align: justify;
  }

  .containerReport1 {
    flex-direction: column;
    align-items: center;
  }

  .video {
    width: 40rem;
    margin-bottom: 1rem;
  }

  .carousel-item1 {
    margin-bottom: 2rem;
  }

  .carousel1 {
    margin-left: 6rem;
  }
  .parraf3 {
    width: 40rem;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 5rem;
    margin-top: 5rem;
    line-height: 2rem;
    color: white;
    font-size: 18px;
  }
  .parraf2{
    width: 40rem;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-left: 6rem;
    margin-top: -5rem;
    line-height: 2rem;
    color: white;
    font-size: 18px;
  }
}

.cont__error{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #ffffff
}

.cont__error h1{
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
 
  
}

.cont__error a{
  text-decoration: none;
  background: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  margin-top: 2rem;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.cont__error a:hover{
  background: #e55039;
}

/*error*/

body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(125deg,#248a9f,#248a9f);
}

.container{
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #343434
}

.container h1{
  font-size: 160px;
  margin: 0;
  font-weight: 900;
  letter-spacing: 20px;
  background: url(bg.jpg) center no-repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container a{
  text-decoration: none;
  background: #e55039aa;
  color: #fff;
  padding: 12px 24px;
  display: inline-block;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  transition: 0.4s;
}

.container a:hover{
  background: #e55039;
}



@media only screen and (max-width:700px) {
  .cartasAdopcion {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .card {
    width: 21rem;
    height: 27rem;
    margin-bottom: 2rem;
  }

  .cardImg {
    width: 18rem;
  }

  .perrin {
    flex-direction: column;
  }

  .imaperro {
    width: 17rem;
    margin-bottom: 2rem;
  }

  .parraf {
    width: 17rem;
    text-align: justify;
  }

  .containerReport1 {
    flex-direction: column;
    align-items: center;
  }

  .video {
    width: 20rem;
    margin-bottom: 1rem;
  }
  .parraf3 {
    width: 18rem;
    align-content: center;
    margin-left: 70px;
  }
 .parraf2 {
  width: 19rem;
  text-align: center;
  align-content: left;
  margin-left: 55px;
 }
}
@media only screen and (max-width:400px) {

  .parraf3 {
    width: 18rem;
    align-content: center;
    margin-left: 50px;
  }
 .parraf2 {
  width: 19rem;
  text-align: center;
  align-content: left;
  margin-left: 30px;
 }
}