
.galeria__grid {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4rem;
    padding: 1rem;
    background-color: #248a9f;
  
    .foto__galeria {
      width: 90%;
      height: auto;
      display: grid;
  
      .foto {
        min-height: 10rem;
        background-color: #248a9f;
        border: 1px solid black;
        margin: 0.5rem 0.5rem 0.5rem 0.5rem;
      }
  
      .imagen__1 {
        grid-column: 4;
        grid-column-start: 1;
        grid-column-end: 5;
        background-image: url(../img/perro1.jpg);
        background-size: cover;
        background-position: center;
      }
  
      .imagen__2 {
        grid-column: 1;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        background-image: url(../img/refugio.jpg);
        background-size: cover;
        background-position: center;
      }
  
      .imagen__3 {
        grid-column: 4;
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 4;
        background-image: url(../img/grid.jpg);
        background-size: cover;
        background-position: center;
      }
  
      .imagen__4 {
        grid-column: 1;
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row: 1;
        grid-row-start: 3;
        grid-row-end: 4;
        background-image: url(../img/adoptado.jpg);
        background-size: cover;
        background-position: center;
      }
  
      .imagen__5 {
        grid-column: 2;
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        background-image: url(../img/adoptado3.jpg);
        background-size: cover;
        background-position: center;
      }
  
      .imagen__6 {
        grid-column: 2;
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 4;
        background-image: url(../img/108956901_m.jpg);
        background-size: cover;
        background-position: center;
      }
    }
  }
  